<!--INICIO DO CONTEUDO-->
<section class="content-header">
</section>
<section class="content">
  <section class="invoice">
    <form [formGroup]="orderForm" novalidate>
      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
            <i class="fa fa-shopping-cart"></i> Finalize o seu pedido
          </h2>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6">
          <p class="lead">Seus Dados:</p>
        </div>
        <div class="col-xs-9">
          <span class="help-block pull-right has-error-block" *ngIf="orderForm.hasError('emailsNotMatch')">
            <i class="fa fa-remove"></i>Email não confere</span>
        </div>


        <div class="col-sm-6 col-xs-12">
          <mt-input-container errorMessage="Campo obrigatório e com 5 caracteres" label="Nome">
            <input class="form-group" type="text" class="form-control" id="inputSuccess" placeholder="Nome" formControlName="name">
          </mt-input-container>
        </div>

        <div class="col-sm-6 col-xs-12">
          <mt-input-container errorMessage="Campo obrigatório e com 5 caracteres" label="Email">
            <input class="form-group" type="text" class="form-control" id="inputSuccess" placeholder="Email" formControlName="email">
          </mt-input-container>
        </div>

        <div class="col-sm-6 col-xs-12">
          <mt-input-container errorMessage="Campo obrigatório e com 5 caracteres" label="Email">
            <input class="form-group" type="text" class="form-control" id="inputSuccess" placeholder="Email" formControlName="emailConfirmation">
          </mt-input-container>
        </div>

      </div>

      <div class="row invoice-info">
        <div class="col-xs-12">
          <p class="lead">Endereço de Entrega:</p>
        </div>
        <div class="col-sm-6 col-xs-12">
          <mt-input-container errorMessage="Campo obrigatório e com 5 caracteres" label="Endereço">
            <input class="form-group" type="text" class="form-control" id="inputSuccess" placeholder="Endereço" formControlName="address">
          </mt-input-container>
        </div>
        <div class="col-sm-3 col-xs-6">
          <mt-input-container errorMessage="Campo obrigatório somente número" label="Número">
            <input class="form-group" type="text" class="form-control" id="inputSuccess" placeholder="Número" formControlName="number">
          </mt-input-container>

        </div>
        <div class="col-sm-3 col-xs-6">
          <mt-input-container errorMessage="" label="Complemento">
            <input type="text" class="form-control" id="inputSuccess" placeholder="Complemento" formControlName="optionaLAddress">
          </mt-input-container>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <!-- Table row -->
      <div class="row">
        <div class="col-xs-12">
          <p class="lead">Itens do Pedido:</p>
        </div>

        <!-- componente para items do carrinho -->
        <mt-order-items [items]="carItems()" (increaseQty)="increaseQty($event)" (decreaseQty)="decreaseQty($event)" (remove)="remove($event)">
        </mt-order-items>

        <!-- /.col -->
      </div>
      <!-- /.row -->

      <div class="row">
        <!-- accepted payments column -->
        <div class="col-sm-6 col-xs-12">
          <p class="lead">Formas de Pagamento:</p>

          <div class="form-group">
            <mt-radio [options]="paymentOptions" formControlName="paymentOptions"></mt-radio>

          </div>

        </div>
        <!-- /.col -->
        <div class="col-sm-6 col-xs-12">
          <p class="lead">Frete e Total:</p>
          <mt-delivery-costs [delivery]="delivery" [itemsValue]="itemsValue()"></mt-delivery-costs>
        </div>
        <!-- /.col -->
      </div>

    </form>

    <div class="row">
      <div class="col-xs-12">
        <button (click)="checkOrder(orderForm.value)" class="btn btn-success pull-right" [disabled]="!orderForm.valid || carItems().length === 0">
          <i class="fa fa-credit-card"></i> Concluir Pedido</button>
      </div>
    </div>

  </section>
</section>
<!-- FIM DO CONTEUDO-->